# INFORMACIÓN DEL PROYECTO

### TÍTULO

#### **COVID_&_mobility**

### TEMA

Cruce de datos de incidencia de la covid_19 en España proporcionados por el Ministerio de Sanidad con datos de movilidad sobre la afluencia de personas a determinadas lugares agrupados en diferentes categorías proporcionados por Google. <br>
Todo ello agrupado por fechas y provincias.

Veremos la correspondencia entre la incidencia del covid y las métricas de afluencia de público a según qué sitios.

### HIPÓTESIS

##### La principal hipótesis es que la incidencia del Covid influyó sobre los lugares que mas se frecuentaron durante la pandemia.

De ahí salen varias preguntas: <br>
- ¿Existen cambios significativos en los patrones de conducta durante este periodo? <br>
- ¿Existe correspondencia entre las diferentes métricas temporales? <br>
- ¿Podemos con estos datos afirmar que existe causalidad o mera correspondencia entre ellos? <br>
- ¿Qué efectos tiene para cada categoría de estudio? <br>
- ¿Cuánto duran los efectos de esos cambios? <br>


##### Por otro lado, podríamos verlo al revés, ¿influye los lugares frecuentados con el crecimiento de los datos de incidencia del covid?

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

*df_google* es un dataset publicado por Google que se puede descargar del siguiente enlace: [www.google.com/covid19/mobility/data_documentation](https://www.google.com/covid19/mobility/data_documentation.html?hl=es) <br>
*df_covd19* es un dataset publicado por el [Instituto de Salud Carlos III (ISCIII)](https://www.isciii.es) y que puede encontrar en el siguiente enlace: [casos_hosp_uci_def_sexo_edad_provres.csv](https://cnecovid.isciii.es/covid19/resources/casos_hosp_uci_def_sexo_edad_provres.csv)

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [2]:
import pandas as pd

df_20 = pd.read_csv('2020_ES_Region_Mobility_Report.csv')
df_21 = pd.read_csv('2021_ES_Region_Mobility_Report.csv')
df_22 = pd.read_csv('2022_ES_Region_Mobility_Report.csv')
df_google = pd.concat([df_20, df_21, df_22], ignore_index= True)

df_covid19 = pd.read_csv('casos_hosp_uci_def_sexo_edad_provres.csv')

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
df_google.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-15,2.0,-1.0,26.0,8.0,0.0,-2.0
1,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-16,2.0,3.0,13.0,5.0,-1.0,-2.0
2,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-17,0.0,1.0,9.0,3.0,3.0,-1.0
3,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-18,-2.0,0.0,5.0,4.0,3.0,0.0
4,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-19,0.0,1.0,11.0,2.0,3.0,-1.0

In [4]:
df_covid19.head()

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,A,H,0-9,2020-01-01,0,0,0,0
1,A,H,10-19,2020-01-01,0,0,0,0
2,A,H,20-29,2020-01-01,0,0,0,0
3,A,H,30-39,2020-01-01,0,0,0,0
4,A,H,40-49,2020-01-01,0,0,0,0