In [1]:
import pandas as pd
import datetime as dt
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [2]:
df_20 = pd.read_csv('2020_ES_Region_Mobility_Report.csv')
df_21 = pd.read_csv('2021_ES_Region_Mobility_Report.csv')
df_22 = pd.read_csv('2022_ES_Region_Mobility_Report.csv')

In [3]:
df_google = pd.concat([df_20, df_21, df_22], ignore_index= True)
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61349 entries, 0 to 61348
Data columns (total 15 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   country_region_code                                 61349 non-null  object
 1   country_region                                      61349 non-null  object
 2   sub_region_1                                        60375 non-null  object
 3   sub_region_2                                        41882 non-null  object
 4   metro_area                                          0 non-null      float64
 5   iso_3166_2_code                                     60375 non-null  object
 6   census_fips_code                                    0 non-null      float64
 7   place_id                                            61349 non-null  object
 8   date                                                61349 non-null  object
 9   retail_and_recreation_percent_change_from_baseline  61293 non-null  float64
 10  grocery_and_pharmacy_percent_change_from_baseline   60319 non-null  float64
 11  parks_percent_change_from_baseline                  61044 non-null  float64
 12  transit_stations_percent_change_from_baseline       59655 non-null  float64
 13  workplaces_percent_change_from_baseline             61307 non-null  float64
 14  residential_percent_change_from_baseline            60914 non-null  float64
dtypes: float64(8), object(7)
memory usage: 7.0+ MB

In [4]:
df_google['date'] = pd.to_datetime(df_google['date'])
df_google.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-15,2.0,-1.0,26.0,8.0,0.0,-2.0
1,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-16,2.0,3.0,13.0,5.0,-1.0,-2.0
2,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-17,0.0,1.0,9.0,3.0,3.0,-1.0
3,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-18,-2.0,0.0,5.0,4.0,3.0,0.0
4,ES,Spain,NaN,NaN,NaN,NaN,NaN,ChIJi7xhMnjjQgwR7KNoB5Qs7KY,2020-02-19,0.0,1.0,11.0,2.0,3.0,-1.0

In [5]:
df_google.drop(['metro_area', 'census_fips_code'], axis = 1, inplace= True)

In [6]:
# df_google['country_region'] = df_google['country_region'].replace('Spain', 'España')
# df_google.loc[df_google['sub_region_1'].isnull(), 'sub_region_1'] = df_google['country_region']

In [7]:
# comunidades = ['Andalusia': 'Andalucía', 'Aragon': 'Aragón', ]

In [8]:
provincias_unicas = {'España': 'España', 'Asturias': 'Asturias', 'Balearic Islands': 'Mallorca', 'Cantabria': 'Santander', 'Ceuta': 'Ceuta', 'Community of Madrid': 'Madrid', 'La Rioja': 'La Rioja', 'Navarre': 'Navarra', 'Melilla': 'Melilla', 'Region of Murcia': 'Murcia'}

In [9]:
df_google['sub_region_1'].unique()

array([nan, 'Andalusia', 'Aragon', 'Asturias', 'Balearic Islands',
       'Basque Country', 'Canary Islands', 'Cantabria',
       'Castile and León', 'Castile-La Mancha', 'Catalonia', 'Ceuta',
       'Community of Madrid', 'Extremadura', 'Galicia', 'La Rioja',
       'Melilla', 'Navarre', 'Region of Murcia', 'Valencian Community'],
      dtype=object)

In [10]:
# Aquí vamos a rellenar los nulos que corresponden a las comunidades que no tienen más que una provincia, ya que el data set no los rellena.
df_google['sub_region_2'] = df_google.apply(lambda row: provincias_unicas.get(row['sub_region_1'], row['sub_region_2']) if pd.isnull(row['sub_region_2']) else row['sub_region_2'], axis=1)

In [11]:
df_google['sub_region_2'].unique()

array([nan, 'Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén',
       'Málaga', 'Seville', 'Huesca', 'Teruel', 'Zaragoza', 'Asturias',
       'Mallorca', 'Álava', 'Biscay', 'Gipuzkoa', 'Las Palmas',
       'Santa Cruz de Tenerife', 'Santander', 'Ávila', 'Burgos', 'León',
       'Palencia', 'Salamanca', 'Segovia', 'Soria', 'Valladolid',
       'Zamora', 'Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara',
       'Toledo', 'Barcelona', 'Girona', 'Lleida', 'Tarragona', 'Ceuta',
       'Madrid', 'Badajoz', 'Cáceres', 'A Coruña', 'Lugo', 'Pontevedra',
       'Province of Ourense', 'La Rioja', 'Melilla', 'Navarra', 'Murcia',
       'Alicante', 'Castellón', 'Valencia'], dtype=object)

In [12]:
# Descubro que hay datos agregados tanto des España como de de las comunidades autónomas. Pero al no tener manera de separarlos provincias, 
# y tener lo datos de la tabla del covid por provincias ya haré yo los agregados. Por tanto prescindo de esas filas.
df_google.dropna(subset = ['sub_region_2'], inplace=True)

In [13]:
# Observamos que el df tiene erratas como province of Ourense, o pone Seville, en inglés.
df_google['sub_region_2'] = df_google['sub_region_2'].replace('Province of Ourense', 'Orense')
df_google['sub_region_2'] = df_google['sub_region_2'].replace('Seville', 'Sevilla')
df_google['sub_region_2'] = df_google['sub_region_2'].replace('Biscay', 'Bizkaia')
df_google['sub_region_2'].unique()

array(['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén',
       'Málaga', 'Sevilla', 'Huesca', 'Teruel', 'Zaragoza', 'Asturias',
       'Mallorca', 'Álava', 'Bizkaia', 'Gipuzkoa', 'Las Palmas',
       'Santa Cruz de Tenerife', 'Santander', 'Ávila', 'Burgos', 'León',
       'Palencia', 'Salamanca', 'Segovia', 'Soria', 'Valladolid',
       'Zamora', 'Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara',
       'Toledo', 'Barcelona', 'Girona', 'Lleida', 'Tarragona', 'Ceuta',
       'Madrid', 'Badajoz', 'Cáceres', 'A Coruña', 'Lugo', 'Pontevedra',
       'Orense', 'La Rioja', 'Melilla', 'Navarra', 'Murcia', 'Alicante',
       'Castellón', 'Valencia'], dtype=object)

In [14]:
provincias_abreviaturas = {
    'Álava': 'VI',
    'Albacete': 'AB',
    'Alicante': 'A',
    'Almería': 'AL',
    'Asturias': 'O',
    'Ávila': 'AV',
    'Badajoz': 'BA',
    'Barcelona': 'B',
    'Burgos': 'BU',
    'Cáceres': 'CC',
    'Cádiz': 'CA',
    'Santander': 'S',
    'Castellón': 'CS',
    'Ciudad Real': 'CR',
    'Córdoba': 'CO',
    'Cuenca': 'CU',
    'Girona': 'GI',
    'Granada': 'GR',
    'Guadalajara': 'GU',
    'Gipuzkoa': 'SS',
    'Huelva': 'H',
    'Huesca': 'HU',
    'Mallorca': 'PM',
    'Jaén': 'J',
    'A Coruña': 'C',
    'La Rioja': 'LO',
    'Las Palmas': 'GC',
    'León': 'LE',
    'Lleida': 'L',
    'Lugo': 'LU',
    'Madrid': 'M',
    'Málaga': 'MA',
    'Murcia': 'MU',
    'Navarra': 'NC',
    'Orense': 'OR',
    'Palencia': 'P',
    'Pontevedra': 'PO',
    'Salamanca': 'SA',
    'Segovia': 'SG',
    'Sevilla': 'SE',
    'Soria': 'SO',
    'Tarragona': 'T',
    'Santa Cruz de Tenerife': 'TF',
    'Teruel': 'TE',
    'Toledo': 'TO',
    'Valencia': 'V',
    'Valladolid': 'VA',
    'Bizkaia': 'BI',
    'Zamora': 'ZA',
    'Zaragoza': 'Z',
    'Ceuta': 'CE',
    'Melilla': 'ML'
}

In [15]:
df_google['provincia_iso_g'] = df_google['sub_region_2'].map(provincias_abreviaturas)
df_google['provincia_iso_g'].unique()

array(['AL', 'CA', 'CO', 'GR', 'H', 'J', 'MA', 'SE', 'HU', 'TE', 'Z', 'O',
       'PM', 'VI', 'BI', 'SS', 'GC', 'TF', 'S', 'AV', 'BU', 'LE', 'P',
       'SA', 'SG', 'SO', 'VA', 'ZA', 'AB', 'CR', 'CU', 'GU', 'TO', 'B',
       'GI', 'L', 'T', 'CE', 'M', 'BA', 'CC', 'C', 'LU', 'PO', 'OR', 'LO',
       'ML', 'NC', 'MU', 'A', 'CS', 'V'], dtype=object)

In [16]:
df_google['provincia_iso_g'].nunique()

52

In [17]:
df_google.loc[df_google['sub_region_2'] == 'Ceuta', 'date'].value_counts(dropna=False)

date
2020-02-15    1
2021-10-19    1
2021-11-20    1
2021-11-21    1
2021-11-22    1
             ..
2021-01-14    1
2021-01-15    1
2021-01-16    1
2021-01-17    1
2022-10-15    1
Name: count, Length: 967, dtype: int64

In [18]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50635 entries, 642 to 61348
Data columns (total 14 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   country_region_code                                 50635 non-null  object
 1   country_region                                      50635 non-null  object
 2   sub_region_1                                        50635 non-null  object
 3   sub_region_2                                        50635 non-null  object
 4   iso_3166_2_code                                     50635 non-null  object
 5   place_id                                            50635 non-null  object
 6   date                                                50635 non-null  datetime64[ns]
 7   retail_and_recreation_percent_change_from_baseline  50579 non-null  float64
 8   grocery_and_pharmacy_percent_change_from_baseline   50073 non-null  float64
 9   parks_percent_change_from_baseline                  50330 non-null  float64
 10  transit_stations_percent_change_from_baseline       48941 non-null  float64
 11  workplaces_percent_change_from_baseline             50593 non-null  float64
 12  residential_percent_change_from_baseline            50200 non-null  float64
 13  provincia_iso_g                                     50635 non-null  object
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 5.8+ MB

In [19]:
def unique_values_in_rows(df, indices, columns = None):
    """
    Muestra los valores únicos en las filas especificadas para las columnas dadas.

    :param df: DataFrame de Pandas.
    :param indices: Lista de índices de las filas.
    :param columns: Lista de columnas para mostrar valores únicos.
    :return: Un diccionario con los valores únicos para cada columna.
    """
    if columns is None:
        columns = df.columns
    unique_values = {}
    for column in columns:
        # Filtrar por los índices dados y luego extraer valores únicos para la columna
        unique_values[column] = df.loc[indices, column].unique()
    return unique_values

In [20]:
pp.pprint(unique_values_in_rows(df_google,df_google[df_google['transit_stations_percent_change_from_baseline'].isna()].index.tolist()))

{   'country_region': array(['Spain'], dtype=object),
    'country_region_code': array(['ES'], dtype=object),
    'date': <DatetimeArray>
['2020-08-17 00:00:00', '2020-08-18 00:00:00', '2020-08-19 00:00:00',
 '2020-08-20 00:00:00', '2020-08-21 00:00:00', '2020-08-22 00:00:00',
 '2020-08-23 00:00:00', '2020-08-24 00:00:00', '2020-08-25 00:00:00',
 '2020-08-26 00:00:00',
 ...
 '2022-10-06 00:00:00', '2022-10-07 00:00:00', '2022-10-08 00:00:00',
 '2022-10-09 00:00:00', '2022-10-10 00:00:00', '2022-10-11 00:00:00',
 '2022-10-12 00:00:00', '2022-10-13 00:00:00', '2022-10-14 00:00:00',
 '2022-10-15 00:00:00']
Length: 963, dtype: datetime64[ns],
    'grocery_and_pharmacy_percent_change_from_baseline': array([ 45.,  41.,  37.,  36.,  30.,  22., 123.,  32.,  33.,  26.,  25.,
        19.,  87.,  21.,  24.,  18.,  13.,  15.,  80.,  23.,  -7.,  20.,
        16.,  61.,  54.,  43.,  38.,  28.,  nan,  35.,  31.,  12.,   3.,
         9.,   8.,  14., -62., -85., -61., -86., -73., -95., -51., -84.,
        27.,  17.,   7.,  10.,   4.,   1., -10.,   2.,  85.,  65.,  57.,
        53.,  42.,  29.,  11.,  -5.,   6.,  -3.,  -4.,   5.,  52., -49.,
        58., -80.,  46.,  -1.,   0., -13.,  -8.,  -2.,  -6., -14., -12.,
        -9., -18., -17., -46., -53., -59., -60., -65., -78., -64., -71.,
       -68., -63., -66., -67., -82., -45., -52., -54., -70., -56., -83.,
       -37., -44., -43., -57., -31., -40., -35., -30., -29., -20., -34.,
       -24., -21., -23., -25., -22., -15., -19., -16., -11., -26., -28.,
       -36., -75.,  47.,  34., -58., -89., -48., -27., -38., -39., -41.,
       -69.,  99.]),
    'iso_3166_2_code': array(['ES-H', 'ES-HU', 'ES-TE', 'ES-AV', 'ES-BU', 'ES-P', 'ES-SG',
       'ES-SO', 'ES-ZA', 'ES-CR', 'ES-CU', 'ES-GU', 'ES-CE', 'ES-CC',
       'ES-LU', 'ES-OR', 'ES-RI', 'ES-ML'], dtype=object),
    'parks_percent_change_from_baseline': array([166., 181., 190., 182., 150., 143., 109., 151., 157., 163., 153.,
       115.,  98.,  66.,  81.,  76.,  82.,  87.,  80.,  91.,  64.,  83.,
        86.,  65.,  nan, 134., 111., 248., -86., -90., -87., -91., -79.,
       -85., -92.,  54.,  20.,   8., 101.,  73., 125., 131.,  67., 106.,
        79.,  70.,  84.,  62.,  26.,  77.,  46.,  11.,  35.,  51.,  42.,
        33.,  44.,  12.,  28.,  47.,  34., -78.,  71.,  43.,  52.,  68.,
        22.,  13.,  19.,   2.,  78.,  69.,  58.,  50.,   3.,  10.,  -8.,
       -12., -20., -10.,  -2.,  -4.,  18.,  39., -14.,  -3., -15.,  23.,
        -7.,   0., -37., -52., -81., -80., -82., -83., -88., -89., -84.,
       -77., -58., -57., -53., -56., -62., -75., -45., -61., -47., -43.,
       -36., -41., -42., -38., -21., -26., -31., -32., -18., -22.,  -6.,
       -35., -33., -11.,   6., -28.,  -1.,   5.,  25.,  21.,  15.,  16.,
         7.,  14.,   9.,  -5.,  17.,  24.,  32.,  -9., -29., -19., -16.,
       -39., -17., -13., -23., -25., -27., -24., -34., -30., -54., -50.,
       -60., 100., 110.,  97.,  92.,  72.,  45.,  40.,  37.,  49.,  36.,
       117., 142., 127., 169., 121., 124., 146., 137.,  61.,  53.,  31.,
        60.,  41.,  38.,  27.,  48.,   4.,  29., -49., -55., -51., -40.,
       -44., -66.,   1., -48.,  30., -46., -67., 272., 112., 104., 113.,
       114.,  63.]),
    'place_id': array(['ChIJiYiy9MW-EQ0RgMqfjP1jBAM', 'ChIJtwOaTjZxWA0RkMrNCGWMAQM',
       'ChIJnUpflihYXg0R8MvNCGWMAQM', 'ChIJj6yPsjuEQA0RgMnzWgeHBQM',
       'ChIJ9ZsJuUntRQ0RwMnzWgeHBQM', 'ChIJJTy9az_URw0RUMvzWgeHBQM',
       'ChIJr5ElYupOQQ0RsMvzWgeHBQM', 'ChIJo_8KEwbHRA0R0MvzWgeHBQM',
       'ChIJJZxKNg10OQ0RQMzzWgeHBQM', 'ChIJ6_wEDsndaw0RAMpLvvNAAwM',
       'ChIJPaBPpUf1Zw0RMMpLvvNAAwM', 'ChIJl9C4p3cuQw0RYMpLvvNAAwM',
       'ChIJN4t3-cajDA0RNeZ62srbpWo', 'ChIJEz0HKNv5FQ0R0MmfjP1jBAM',
       'ChIJU82ZLkW2MQ0R4MrJc4L1BAM', 'ChIJ3VJ27lykOg0RMMvJc4L1BAM',
       'ChIJu9z3TpJLRQ0Rjimbpl76f3g', 'ChIJ15UT1nAFdw0RXoC3ZazsjF8'],
      dtype=object),
    'provincia_iso_g': array(['H', 'HU', 'TE', 'AV', 'BU', 'P', 'SG', 'SO', 'ZA', 'CR', 'CU',
       'GU', 'CE', 'CC', 'LU', 'OR', 'LO', 'ML'], dtype=object),
    'residential_percent_change_from_baseline': array([ 4.,  3.,  6.,  2.,  0.,  5.,  1., -3., -2., -1., -4., 25., 21.,
       26., 22., 32., 40., -5.,  7., -6.,  8., nan, 12., 11., 13., 16.,
       10.,  9., 14., 19., 20., 23., 17., -9., 15.]),
    'retail_and_recreation_percent_change_from_baseline': array([ 39.,  40.,  36.,  20.,  14.,  16.,  28.,  26.,  10.,   4.,  12.,
        13.,   9.,   8.,   7.,  18.,  -3.,  11.,  29.,  24.,   1.,   6.,
        -2.,  -9.,  -4., -10., -12., -15., -11.,   0.,  32., -92., -94.,
       -95., -91., -96.,  44.,  38.,  34.,  23.,  15.,  31.,  -7.,   2.,
       -18.,  -1.,  -5.,  71.,  64.,  58.,  59.,  37.,  41.,  47.,  43.,
        21.,   5., -20.,  -8.,  25.,  22.,  -6., -19.,  nan,  19., -93.,
        45.,  30.,  17.,  27.,   3., -23., -21.,  35., -16., -17., -27.,
       -54., -78., -79., -82., -84., -86., -88., -87., -85., -89., -90.,
       -83., -97., -70., -75., -74., -71., -59., -61., -62., -68., -45.,
       -49., -47., -57., -56., -69., -42., -48., -51., -50., -60., -39.,
       -40., -29., -35., -22., -26., -25., -13., -14., -28., -55., -30.,
       -24., -34., -31., -33., -32., -36., -38., -80., -43., -64., -37.,
       -46., -58., -66., -41.]),
    'sub_region_1': array(['Andalusia', 'Aragon', 'Castile and León', 'Castile-La Mancha',
       'Ceuta', 'Extremadura', 'Galicia', 'La Rioja', 'Melilla'],
      dtype=object),
    'sub_region_2': array(['Huelva', 'Huesca', 'Teruel', 'Ávila', 'Burgos', 'Palencia',
       'Segovia', 'Soria', 'Zamora', 'Ciudad Real', 'Cuenca',
       'Guadalajara', 'Ceuta', 'Cáceres', 'Lugo', 'Orense', 'La Rioja',
       'Melilla'], dtype=object),
    'transit_stations_percent_change_from_baseline': array([nan]),
    'workplaces_percent_change_from_baseline': array([-28., -25., -27., -24.,   3.,  16., -23., -21.,   6.,  24., -17.,
       -16., -14., -13.,   9.,  30., -30., -10., -33., -31., -32.,  -4.,
         8., -26.,   0.,  11., -19.,  13., -22., -20.,   1., -61., -65.,
       -63., -67., -82., -87., -64., -29.,  -2.,   4.,  15.,  18.,  14.,
        26., -15., -12.,  -8.,  -9.,  23.,  46.,  -1., -38., -35., -34.,
        10.,  -3., -46., -18.,  38., -11.,  nan, -56.,   7.,  17.,  20.,
        -7.,  -5.,   5.,  12.,   2., -52., -58., -62., -66., -68., -69.,
       -70., -71., -86., -60., -84., -51., -57., -54., -50., -49., -48.,
       -44., -43., -42., -37.,  -6., -36., -72., -53., -73., -40., -45.,
       -59., -85., -74., -39., -41., -75., -47.])}

In [21]:
df_google.loc[df_google['sub_region_2'] == 'Huelva', 'transit_stations_percent_change_from_baseline'].unique()

array([ 45.,  18.,  16.,   8.,  11.,  34.,  49.,  29.,  28.,  17.,  15.,
        22.,  31.,  14.,  13.,  10.,  32.,  44.,  25.,  19.,  12.,  -2.,
       -32., -66., -58., -65., -64., -68., -77., -82., -69., -73., -72.,
       -70., -76., -85., -71., -78., -81., -74., -83., -67., -75., -62.,
       -63., -54., -43., -45., -47., -59., -31., -40., -49., -42., -46.,
       -28., -35., -34., -36., -21., -24., -25., -23., -18., -17., -26.,
       -27., -19., -12., -16., -13.,  -5., -15., -20., -10.,   6.,  -8.,
        -3.,  -7.,  -1.,   3.,   5.,   7.,  20.,  35.,  36.,   9.,  24.,
        23.,  47.,  38.,  40.,  37.,  43.,  48.,  nan,   2.,  30.,   0.,
        26.,  21.,  -4., -14.,  -9.,   1.,  -6.,   4., -37., -11., -33.,
       -38., -30., -39.,  27.,  33.,  46.,  53.,  52.,  39.,  54.,  42.,
        57.,  56.,  41.,  61.,  51.,  50.,  74.,  68.,  62.,  63.,  60.,
        67.,  58.,  73.,  84.,  64.,  93.,  99.,  96., 105.,  87., 106.,
       100.,  95., 104., 107.,  85., 103.,  97.,  91.,  77.,  83.,  82.,
        88.,  76.,  66.,  69.,  55.,  72.,  65.,  59.,  70.,  75.,  71.,
        98.,  92.,  78.,  80.,  81.,  79., 124., 173., 150., 118., 101.,
       108.,  89.,  94., 111., 114., 125., 112., 102., 127., 122., 128.,
       140., 117.,  86., 130., 110., 116., 134., 120., 121.,  90., 131.,
       113., 129.])

In [22]:
df_covid19 = pd.read_csv('casos_hosp_uci_def_sexo_edad_provres.csv')
# a = (df_covid19['fecha'] == '2020-03-20')
# b = (df_covid19['provincia_iso'] == 'M')
# ab = df_covid19[a & b]
# ab

In [23]:
df_covid19['provincia_iso'].value_counts(dropna = False)

provincia_iso
A      24510
M      24510
ML     24510
MU     24510
NaN    24510
NC     24510
O      24510
OR     24510
P      24510
PM     24510
PO     24510
S      24510
SA     24510
SE     24510
SG     24510
SO     24510
SS     24510
T      24510
TE     24510
TF     24510
TO     24510
V      24510
VA     24510
VI     24510
Z      24510
MA     24510
LU     24510
AB     24510
LO     24510
AL     24510
AV     24510
B      24510
BA     24510
BI     24510
BU     24510
C      24510
CA     24510
CC     24510
CE     24510
CO     24510
CR     24510
CS     24510
CU     24510
GC     24510
GI     24510
GR     24510
GU     24510
H      24510
HU     24510
J      24510
L      24510
LE     24510
ZA     24510
Name: count, dtype: int64

In [24]:
df_covid19.loc[df_covid19['provincia_iso'] == 'SE', 'num_casos'].describe()

count    24510.000000
mean        11.675071
std         27.909340
min          0.000000
25%          0.000000
50%          0.000000
75%         11.000000
max        462.000000
Name: num_casos, dtype: float64

In [25]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299030 entries, 0 to 1299029
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   provincia_iso  1274520 non-null  object
 1   sexo           1299030 non-null  object
 2   grupo_edad     1299030 non-null  object
 3   fecha          1299030 non-null  object
 4   num_casos      1299030 non-null  int64
 5   num_hosp       1299030 non-null  int64
 6   num_uci        1299030 non-null  int64
 7   num_def        1299030 non-null  int64
dtypes: int64(4), object(4)
memory usage: 79.3+ MB

In [26]:
# Como hemos visto hay un número de NAN en la columna provincia_iso. Además para este valor, tenemos los mismo valores que para una provincia real. Y aquí comprobamos
# que tiene valores, que se contabilizan. Entendemos que son personas que no estaban asociadas a ninguna provincia en concreto. Y las contaremos para el computo total.
# Por tanto le asignaremos el valor "SP", de "Sin Procinvia", a estos valores nulos de la columna provincia_iso.
# filas_nulas = df_covid19[df_covid19['provincia_iso'].isnull()]
# filas_nulas['num_casos'].describe()
# df_covid19['provincia_iso'] = df_covid19.loc[df_covid19['provincia_iso'].isnull(), 'provincia_iso'].replace('', 'SP')
# df_covid19['provincia_iso'].unique()

# Esto al final no se hizo.

In [27]:
# Vamos a prescindir de estos datos ya que todos los datos que queremos tienen que estar asociados a una provincia.
df_covid19 = df_covid19.dropna(subset=['provincia_iso'])

In [28]:
df_covid19['fecha'] = pd.to_datetime(df_covid19['fecha'])
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1274520 entries, 0 to 1299029
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   provincia_iso  1274520 non-null  object
 1   sexo           1274520 non-null  object
 2   grupo_edad     1274520 non-null  object
 3   fecha          1274520 non-null  datetime64[ns]
 4   num_casos      1274520 non-null  int64
 5   num_hosp       1274520 non-null  int64
 6   num_uci        1274520 non-null  int64
 7   num_def        1274520 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 87.5+ MB

In [29]:
merged_df = pd.merge(df_covid19, df_google, left_on=['fecha', 'provincia_iso'], right_on=['date', 'provincia_iso_g'], how='left')

In [30]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274520 entries, 0 to 1274519
Data columns (total 22 columns):
 #   Column                                              Non-Null Count    Dtype
---  ------                                              --------------    -----
 0   provincia_iso                                       1274520 non-null  object
 1   sexo                                                1274520 non-null  object
 2   grupo_edad                                          1274520 non-null  object
 3   fecha                                               1274520 non-null  datetime64[ns]
 4   num_casos                                           1274520 non-null  int64
 5   num_hosp                                            1274520 non-null  int64
 6   num_uci                                             1274520 non-null  int64
 7   num_def                                             1274520 non-null  int64
 8   country_region_code                                 1203930 non-null  object
 9   country_region                                      1203930 non-null  object
 10  sub_region_1                                        1203930 non-null  object
 11  sub_region_2                                        1203930 non-null  object
 12  iso_3166_2_code                                     1203930 non-null  object
 13  place_id                                            1203930 non-null  object
 14  date                                                1203930 non-null  datetime64[ns]
 15  retail_and_recreation_percent_change_from_baseline  1202250 non-null  float64
 16  grocery_and_pharmacy_percent_change_from_baseline   1190160 non-null  float64
 17  parks_percent_change_from_baseline                  1194780 non-null  float64
 18  transit_stations_percent_change_from_baseline       1163100 non-null  float64
 19  workplaces_percent_change_from_baseline             1202670 non-null  float64
 20  residential_percent_change_from_baseline            1192560 non-null  float64
 21  provincia_iso_g                                     1203930 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(4), object(10)
memory usage: 213.9+ MB

In [31]:
merged_df.to_csv('eda.csv')

In [35]:
chunksize = 300 * 1024  # Tamaño máximo por fragmento (25MB)
i = 1

for chunk in pd.read_csv('eda.csv', chunksize=chunksize, low_memory= False):
    chunk.to_csv(f'eda_part_{i}.csv', index=False)
    i += 1